#weather-box-section {
  position: relative;
  width: 550px;
  height: var(--box-height);
  transition: all 0.4s;
  max-width: 100vw;
  background: linear-gradient(rgb(28, 107, 103), rgb(4, 26, 39));
  border-radius: 10px;
  border: solid white 2px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 40px var(--box-shadow-color);
}
@media screen and (max-width: 550px) {
  #weather-box-section {
    box-shadow: none;
    border: none;
    height: 93vh;
    top: 45px;
    border-radius: 0;
    transform: scale(0.95);
  }
}
#weather-box-section #input-box {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
#weather-box-section #input-box input {
  flex: 10;
  height: 45px;
  border-radius: 10px;
  border: solid black 2px;
  outline: none;
  padding: 0px 10px;
  font-size: 1.1em;
  background-color: rgb(212, 209, 209);
}
#weather-box-section #input-box button {
  flex: 1;
  height: 48px;
  border-radius: 10px;
  border: none;
  background-color: rgb(0, 195, 255);
  cursor: pointer;
  transition: all 0.2s;
}
#weather-box-section #input-box button:hover {
  background-color: rgb(83, 217, 235);
  box-shadow: 2px 2px 5px rgb(70, 69, 69);
}

#dropdown-suggestions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2px;
  align-self: flex-start;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translateX(-50%);
  opacity: var(--dropdown-opacity);
  transition: opacity 0.3s;
}
@media screen and (max-width: 550px) {
  #dropdown-suggestions {
    top: 140px;
  }
}
#dropdown-suggestions #suggestion {
  background-color: rgb(224, 224, 224);
  max-width: calc(95vw - 30px);
  width: 520px;
  padding: 15px;
  border-radius: 5px;
  border: solid rgb(179, 176, 176) 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
#dropdown-suggestions #suggestion:hover {
  background-color: rgb(194, 194, 194);
}
#dropdown-suggestions #suggestion div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
#dropdown-suggestions #suggestion div span:nth-child(1) {
  font-size: 1.2em;
  font-weight: bolder;
}
#dropdown-suggestions #suggestion div span:nth-child(2) {
  color: grey;
  font-size: 0.9em;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-150%, -50%);
  width: 150px;
  height: 150px;
}
@media screen and (max-width: 480px) {
  .lds-spinner {
    transform: translate(-100%, -50%);
  }
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
section#weather-content-section {
  opacity: var(--weather-content-opacity);
  transition: opacity 0.4s;
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 1fr 1fr;
  grid-template-areas: "icon temp" "location location" "other other";
}
section#weather-content-section #icon {
  display: grid;
  place-content: center;
}
@media screen and (max-width: 550px) {
  section#weather-content-section #icon img {
    transform: scale(0.7);
  }
}
section#weather-content-section #temp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 550px) {
  section#weather-content-section #temp {
    transform: scale(0.8);
  }
}
section#weather-content-section #temp span {
  text-align: center;
  align-self: center;
  font-size: 1.7em;
  color: rgb(209, 206, 206);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
section#weather-content-section #temp span i {
  font-size: 0.6em;
}
section#weather-content-section #temp #main-temp {
  font-size: 4em;
  color: rgb(255, 253, 253);
  position: relative;
}
section#weather-content-section #temp #main-temp::after {
  content: "";
  position: absolute;
  background-color: rgb(214, 212, 212);
  width: 100%;
  height: 4px;
  border-radius: 500px;
  bottom: -15px;
}
section#weather-content-section #temp div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
section#weather-content-section #temp div span:nth-child(1) i {
  color: rgb(190, 62, 62);
}
section#weather-content-section #temp div span:nth-child(2) i {
  color: rgb(54, 124, 230);
}
section#weather-content-section #location {
  grid-area: location;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: white;
}
section#weather-content-section #location span:nth-child(1) {
  font-size: 2em;
}
section#weather-content-section #location span:nth-child(1) i {
  color: rgb(207, 74, 74);
}
section#weather-content-section #location span:nth-child(2) {
  justify-self: flex-start;
  color: rgb(175, 171, 171);
  font-size: 1.2em;
}
section#weather-content-section #other-parameters {
  grid-area: other;
  background-color: rgba(190, 180, 180, 0.3);
  border-radius: 20px;
  box-shadow: 3px 3px 10px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section#weather-content-section #other-parameters ul {
  width: 100%;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
@media screen and (max-width: 550px) {
  section#weather-content-section #other-parameters ul {
    font-size: 0.8em;
  }
}
section#weather-content-section #other-parameters ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
}
section#weather-content-section #other-parameters ul li i {
  color: rgb(216, 213, 213);
}
section#weather-content-section #other-parameters ul li span:nth-child(2) {
  color: rgb(179, 172, 172);
}

nav {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(3, 21, 37);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 70px;
}
nav span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.5em;
  color: white;
}
nav i {
  font-size: 2em;
  color: rgb(209, 207, 207);
}
@media screen and (min-width: 550px) {
  nav {
    visibility: hidden;
  }
}

:root {
  --dropdown-opacity:0;
  --box-height:40px;
  --weather-content-opacity:0;
  --box-shadow-color: transparent;
}

@font-face {
  font-family: Righteous;
  src: url("./Righteous-Regular.ttf");
}
body, html {
  background-color: #353535;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(178,800,387)'%3E%3Cstop offset='0' stop-color='%23353535'/%3E%3Cstop offset='1' stop-color='%23040F3C'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='467' height='389.2' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.05'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  height: 100vh;
  width: 100vw;
  place-content: center;
  overflow-x: hidden;
  font-family: Righteous;
}/*# sourceMappingURL=main.css.map */