#weather-box-section {
  position: relative;
  width: 550px;
  height: var(--box-height);
  transition: all 0.4s;
  max-width: 100vw;
  background-color: rgb(8, 106, 131);
  border-radius: 30px;
  border: solid white 2px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  overflow: hidden;
  margin-top: 30px;
}
@media screen and (min-width: 550px) {
  #weather-box-section {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 550px) {
  #weather-box-section {
    box-shadow: none;
    margin-top: -20px;
    border: none;
    min-height: calc(100vh - 80px);
    border-radius: 0;
    transform: scale(0.95);
  }
}
#weather-box-section #input-box {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
#weather-box-section #input-box input {
  flex: 10;
  height: 45px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 0px 10px;
  font-size: 1.4em;
  background-color: transparent;
  color: white;
  z-index: 10;
}
#weather-box-section #input-box input::-moz-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
}
#weather-box-section #input-box input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
}
#weather-box-section #input-box input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(255, 255, 255);
}
#weather-box-section #input-box input::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(255, 255, 255);
}
#weather-box-section #input-box button {
  flex: 1;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: none;
  background-color: rgb(0, 195, 255);
  cursor: pointer;
  transition: all 0.2s;
  color: white;
}
#weather-box-section #input-box button:hover {
  background-color: rgb(83, 217, 235);
  box-shadow: 2px 2px 5px rgb(70, 69, 69);
}
#weather-box-section #margin {
  width: 100%;
  height: 100px;
  display: none;
}
@media screen and (hover: none) {
  #weather-box-section #margin {
    display: block;
  }
}

#dropdown-suggestions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2px;
  align-self: flex-start;
  position: absolute;
  top: 110px;
  left: 50%;
  margin-top: 15px;
  transform: translateX(-50%);
  opacity: var(--dropdown-opacity);
  transition: opacity 0.3s;
}
@media screen and (max-width: 550px) {
  #dropdown-suggestions {
    top: 140px;
  }
}
#dropdown-suggestions #suggestion {
  background-color: rgba(224, 224, 224, 0.8);
  max-width: calc(95vw - 30px);
  width: 520px;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
#dropdown-suggestions #suggestion:hover {
  background-color: rgb(194, 194, 194);
}
#dropdown-suggestions #suggestion div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
#dropdown-suggestions #suggestion div span:nth-child(1) {
  font-size: 1.2em;
  font-weight: bolder;
}
@media screen and (max-width: 550px) {
  #dropdown-suggestions #suggestion div span:nth-child(1) {
    font-size: 1.1em;
  }
}
#dropdown-suggestions #suggestion div span:nth-child(2) {
  color: grey;
  font-size: 0.9em;
}
@media screen and (max-width: 550px) {
  #dropdown-suggestions #suggestion div span:nth-child(2) {
    font-size: 0.7em;
  }
}

.no-results {
  top: 80px;
  position: absolute;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: var(--weather-content-opacity);
  transition: all 0.3s;
}
.no-results h1 {
  font-size: 2em;
}
@media screen and (max-width: 550px) {
  .no-results h1 {
    font-size: 1.4em;
  }
}

.lds-facebook {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  width: 80px;
  height: 80px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
section#weather-content-section {
  opacity: var(--weather-content-opacity);
  transition: opacity 0.4s;
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 1fr 1fr;
  grid-template-areas: "icon temp" "location location" "other other";
}
section#weather-content-section #icon {
  display: grid;
  place-content: center;
}
@media screen and (max-width: 550px) {
  section#weather-content-section #icon img {
    transform: scale(0.7);
  }
}
section#weather-content-section #temp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 550px) {
  section#weather-content-section #temp {
    transform: scale(0.8);
  }
}
section#weather-content-section #temp span {
  text-align: center;
  align-self: center;
  font-size: 1.7em;
  color: rgb(209, 206, 206);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
section#weather-content-section #temp span i {
  font-size: 0.6em;
}
@media screen and (max-width: 550px) {
  section#weather-content-section #temp span {
    font-size: 1.6em;
  }
}
section#weather-content-section #temp #main-temp {
  font-size: 4em;
  color: rgb(255, 253, 253);
  position: relative;
}
section#weather-content-section #temp #main-temp::after {
  content: "";
  position: absolute;
  background-color: rgb(214, 212, 212);
  width: 100%;
  height: 4px;
  border-radius: 500px;
  bottom: -15px;
}
section#weather-content-section #temp div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
section#weather-content-section #location {
  grid-area: location;
  margin-top: -30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: white;
}
section#weather-content-section #location span:nth-child(1) {
  font-size: 2em;
}
@media screen and (max-width: 550px) {
  section#weather-content-section #location span:nth-child(1) {
    font-size: 1.6em;
  }
}
section#weather-content-section #location span:nth-child(1) i {
  color: rgb(255, 255, 255);
}
section#weather-content-section #location span:nth-child(2) {
  justify-self: flex-start;
  color: rgb(175, 171, 171);
  font-size: 1.2em;
}
@media screen and (max-width: 550px) {
  section#weather-content-section #location span:nth-child(2) {
    font-size: 1em;
  }
}
section#weather-content-section #other-parameters {
  grid-area: other;
  background-color: rgba(190, 180, 180, 0.2);
  border-radius: 20px;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section#weather-content-section #other-parameters ul {
  width: 100%;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
@media screen and (max-width: 550px) {
  section#weather-content-section #other-parameters ul {
    font-size: 0.8em;
  }
}
section#weather-content-section #other-parameters ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
}
section#weather-content-section #other-parameters ul li i {
  color: rgb(230, 230, 230);
}
section#weather-content-section #other-parameters ul li span:nth-child(2) {
  color: rgb(255, 255, 255);
}

nav {
  width: 100%;
  height: 80px;
  position: relative;
  background-color: rgb(3, 21, 37);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 70px;
  z-index: 3;
}
nav span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.5em;
  color: white;
}
nav i {
  font-size: 2em;
  color: rgb(209, 207, 207);
}
@media screen and (min-width: 550px) {
  nav {
    display: none;
  }
}

#forecast-box {
  opacity: var(--weather-content-opacity);
  transition: all 0.3s;
  width: calc(100% - 10px);
  min-height: 170px;
  background-color: rgba(190, 180, 180, 0.2);
  border-radius: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 5px;
}
#forecast-box .day-box {
  flex-shrink: 0;
  height: 100%;
  width: 108px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  position: relative;
}
@media screen and (max-width: 550px) {
  #forecast-box .day-box {
    font-size: 0.9em;
  }
}
#forecast-box .day-box #day {
  font-size: 1.1em;
  color: rgb(255, 255, 255);
}
#forecast-box .day-box img {
  width: 30%;
}
#forecast-box .day-box .graph {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9em;
  color: rgb(255, 255, 255);
}
#forecast-box .day-box .graph .line-container {
  width: 100%;
  height: 45px;
  left: 50%;
  position: relative;
}
#forecast-box .day-box .graph .line-container svg {
  width: 100%;
  height: 100%;
}
#forecast-box .day-box .graph .line-container svg line {
  stroke: rgb(187, 187, 187);
  stroke-width: 1.5;
}
#forecast-box .day-box .graph .line-container::before {
  content: "";
  position: absolute;
  width: 5px;
  left: 0;
  border-radius: 50%;
  height: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px white;
  transform: translateX(-50%);
  z-index: 2;
}
#forecast-box .day-box:last-child .line-container {
  display: none;
}
#forecast-box .day-box:nth-child(1) .graph .line-container::before {
  top: calc(var(--box0) - 2px);
}
#forecast-box .day-box:nth-child(2) .graph .line-container::before {
  top: calc(var(--box1) - 2px);
}
#forecast-box .day-box:nth-child(3) .graph .line-container::before {
  top: calc(var(--box2) - 2px);
}
#forecast-box .day-box:nth-child(4) .graph .line-container::before {
  top: calc(var(--box3) - 2px);
}
#forecast-box .day-box:nth-child(4) .line-container::after {
  content: "";
  position: absolute;
  width: 5px;
  right: -5px;
  border-radius: 50%;
  height: 5px;
  top: calc(var(--box4) - 2px);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px white;
  transform: translateX(-50%);
  z-index: 2;
}

@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes shake {
  from {
    transform: translate(-100px, -50px);
  }
  to {
    transform: translate(100px, 0px);
  }
}
#logo-main {
  width: 100vw;
  height: 400px;
  padding: 20px 0px;
  z-index: 0;
  position: absolute;
  top: 150px;
  left: 0;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#logo-main #logo-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
@media screen and (max-width: 700px) {
  #logo-main #logo-content {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 550px) {
  #logo-main #logo-content {
    font-size: 0.5em;
  }
}
#logo-main #logo-content span {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 5em;
  gap: 40px;
}
@media screen and (max-width: 700px) {
  #logo-main #logo-content span svg {
    width: 250px;
  }
}
#logo-main #logo-content span svg g#sun {
  animation: spin 10s linear infinite;
  transform-box: fill-box;
  transform-origin: center;
}
#logo-main #logo-content span svg g#cloud {
  animation: shake 1.5s ease-in-out infinite alternate;
}
#logo-main #logo-content div {
  font-size: 2em;
  color: rgb(214, 212, 212);
}

.home-screen-transition-enter {
  opacity: 0;
}

.home-screen-transition-enter-active {
  opacity: 1;
  transition: all 0.8s;
}

.home-screen-transition-exit {
  opacity: 1;
}

.home-screen-transition-exit-active {
  opacity: 0;
  transition: all 0.2s;
}

:root {
  --dropdown-opacity:0;
  --box-height:40px;
  --weather-content-opacity:0;
  --box0:0px;
  --box1:0px;
  --box2:0px;
  --box3:0px;
  --box4:0px;
}

@font-face {
  font-family: OpenSans;
  src: url("./OpenSans-VariableFont_wdth,wght.ttf");
}
body, html {
  background: linear-gradient(to right, rgb(3, 21, 37), rgb(4, 26, 39));
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: OpenSans;
}
@media screen and (max-width: 550px) {
  body, html {
    overflow-y: hidden;
  }
}/*# sourceMappingURL=main.css.map */