@import "./weather-box";
@import "./weather-content";
@import "./navbar";
@import "./forecast";
@import "./logo";
@import "./resets";

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}
:root {
  --dropdown-opacity: 0;
  --box-height: 40px;
  --weather-content-opacity: 0;

  // --box0-graph-skew:0deg;
  // --box1-graph-skew:0deg;
  // --box2-graph-skew:0deg;
  // --box3-graph-skew:0deg;
  // --box4-graph-skew:0deg;

  // --box0-bottom:0px;
  // --box1-bottom:0px;
  // --box2-bottom:0px;
  // --box3-bottom:0px;
  // --box4-bottom:0px;

  --box0: 0px;
  --box1: 0px;
  --box2: 0px;
  --box3: 0px;
  --box4: 0px;
}

@font-face {
  font-family: OpenSans;
  src: url("./OpenSans-VariableFont_wdth\,wght.ttf");
}

body,
html {
  background: linear-gradient(to right, rgb(3, 21, 37), rgb(4, 26, 39));
  // background: linear-gradient(rgb(6, 115, 134),rgb(2, 40, 51));
  height: 100vh;
  width: 100vw;
  @include flex(column, flex-start, center);
  gap: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  @media screen and (max-width: 550px) {
    overflow-y: hidden;
  }
  font-family: OpenSans;
}
