@import './weather-box';
@import './weather-content';
@import './navbar';
@import './forecast';

@mixin flex($direction, $justify, $align){
    display:flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}
:root{
    --dropdown-opacity:0;
    --box-height:40px;
    --weather-content-opacity:0;
}

@font-face{
    font-family: Righteous;
    src:url('./Righteous-Regular.ttf')
}

body, html{
    background: linear-gradient(45deg, black, rgb(2, 2, 37));
    display:grid;
    height:100vh;
    width: 100vw;
    place-content: center;
    overflow-x: hidden;
    font-family: Righteous;
}